@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #b1baba;
  --primary: #0f52ba;
  --secondary: #192c58;
  --accent: #f58426;
}

body {
  background: var(--background);
  color: #000;
}
